<div class="container-fluid">
    <div class="col-6">
      <table class="table">
        <thead>
          <h2 class="titulo">TV Series</h2>
          <tr>
            <th>name</th>
            <th> channel</th> 
            <th> seasons</th> 

          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of courses">
                <td>
                  <dd class="nombre">{{c.name}}</dd>
                </td>
                <td>
                  <dd>{{c.channel}}</dd>
                </td>
                <td>
                  <dd>{{c.seasons}}</dd>
                </td>
            </tr>
            <div> season average {{pala}}</div>
        </tbody>
      </table>
    </div>
  </div>