<div class="container-fluid">
    <div class="col-6">
      <table class="table">
        <thead>
          <h2 class="titulo">TV Series</h2>
          <tr>
            <th>cancion</th>
            <th>duracion</th> 
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of courses">
                <td>
                  <dd class="nombre">{{c.titulo}}</dd>
                </td>
                <td>
                  <dd>{{c.duracion}}</dd>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>